# Nestjs specific
api/dist
api/node_modules
api/build
api/tmp

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# dotenv environment variable files
.env
.env.development
.env.test
.env.production

# temp directory
.temp
.tmp

# Docker volumes
oracle-data/
cloudbeaver-data/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# OS
Thumbs.db

# TypeScript
*.tsbuildinfo